@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 130px;
    height: 70px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 80px;
    background-color: #4747d1;
}

nav a {
    height: 70px;
}

.enlaces-menu {
    display: flex;
    padding: 0;

}

.enlaces-menu li {
    padding: 0 40px;
    list-style-type: none;
}

.enlaces-menu li a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 10px 25px;
}

.enlaces-menu li:hover {
    background-color: #7070db;
}

.icono-carrito i {
    font-size: 32px;
    color: white;
    margin: 50%;
    align-self: center;
}

.ham {
    display: none;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.ham span {
    display: block;
    background-color: white;
    height: 3px;
    width: 34px;
    margin: 10px auto;
    border-radius: 2px;
}

/* Dispositivo movil */

@media (max-width: 768px) {
    body {
        overflow: hidden;
    }

    .logo {
        margin-left: 30px;
    }

    .ham {
        display: block;
        position: absolute;
        top: 37px;
        right: 30px;
        transition: 0.2s 0.1s;
    }

    .ham:hover {
        transform: rotate(360deg);
    }

    nav {
        display: block;
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
    }

    .enlaces-menu {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 82vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
    }

    .enlaces-menu li {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .icono-carrito {
        position: absolute;
        top: 30px;
        right: 50%;
    }
}

@keyframes muestraMenu {
    from{opacity: 0;}
    to {opacity: 1;}

}

.enlaces-menu.activado {
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado {
    transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado {
    opacity: 0;
}

.br-3.animado {
    transform: rotate(45deg) translate(-10px, -8px);
}
