@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
    background-image: url('./img/fondo.png');
}

/* Navbar */

.logo {
    width: 160px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 80px;
    background-color: #4747d1;
}

nav a {
    height: 70px;
}

.enlaces-menu {
    display: flex;
    padding: 0;
    margin: 0;
}

.enlaces-menu li {
    padding: 0 40px;
    list-style-type: none;
}

.enlaces-menu li a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 10px 25px;
}

.enlaces-menu li a:hover {
    background-color: #7070db;
}

.icono-carrito {
    border: 0;
    height: 0;
    width: 0;
}

.icono-carrito i {
    font-size: 32px;
    color: white;
    margin: 55%;
    align-self: center;
    position: relative;
    top: -15px;
    right: 20px;
}

.contador {
    position: relative;
    right: 75px;
    color: #fff;
    border: 1px solid red;
    padding: 0 7px;
    border-radius: 50%;
    background-color: red;
}

.ham {
    display: none;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.ham span {
    display: block;
    background-color: white;
    height: 3px;
    width: 34px;
    margin: 10px auto;
    border-radius: 2px;
}

/* Navbar para Movile */

@media (max-width: 768px) {
    .logo {
        margin-left: 10px;
    }

    .ham {
        display: block;
        position: absolute;
        top: 37px;
        right: 30px;
        transition: 0.2s 0.1s;
    }

    .ham:hover {
        transform: rotate(360deg);
    }

    nav {
        display: block;
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
    }

    .enlaces-menu {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 82vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
    }

    .enlaces-menu li {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .enlaces-menu li:hover {
        background-color: #7070db;
    }

    .icono-carrito {
        position: absolute;
        top: 60px;
        right: 45%;
    }

    .icono-carrito i {
        margin: 50%;
    }

    .contador {
        position: absolute;
        right: 33%;
        top: 50px;
    }
}

@keyframes muestraMenu {
    from{opacity: 0;}
    to {opacity: 1;}

}

.enlaces-menu.activado {
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado {
    transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado {
    opacity: 0;
}

.br-3.animado {
    transform: rotate(45deg) translate(-10px, -8px);
}

/* Seccion Inicio */

.titulo-principal {
    font-size: 85px;
    font-weight: 600;
    letter-spacing: 5px;
    text-align: center;
    padding: 70px 20px;
    margin: 0;
    text-transform: uppercase;
}

.enlace-nosotros {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, auto);

    grid-template-areas: "texto img";

    margin-bottom: 120px;
}

@media (max-width: 768px) {
    .enlace-nosotros {
        display: grid;
        gap: 2rem;
        grid-auto-rows: auto;
        grid-template-columns: auto;
        grid-template-areas: 
            "img"
            "texto";
        
        margin-bottom: 70px;
    }
}

.texto-bienvenidos {
    grid-area: texto;
}

.texto-bienvenidos p {
    font-size: 40px;
    margin: 0 20px;
    margin-bottom: 40px;
}

.texto-bienvenidos a {
    display: inline;
    margin-left: 45%;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 17px;
    border: 2px solid black;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
}

.texto-bienvenidos a:hover {
    border-color: #2a2a58;
    color: #fff;
    background-color: #2a2a58;
}

.img-bienvenidos {
    grid-area: img;

    background-color: #2a2a58;
}

.img-escritorio {
    width: 626px;
}

.img-movil {
    display: none;

    width: 100%;
}

@media (max-width: 768px) {
    .img-escritorio {
        display: none;
    }
    
    .img-movil {
        width: 100%;
        display: flex;
    }

    .texto-bienvenidos a {
        margin-left: 40%;
    }
}

.boton-ofertas {
    border: 0;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
    min-height: 100px;
    max-height: 100%;
    font-size: 23px;
    padding: 0 20px;
    background-color: #bb0e0e;
    color: #fff;
}

.div-ofertas {
    display: grid;
    gap: 2rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    width: 100%;
    justify-content: center;
    padding: 50px 50px;
}

/* Seccion Productos */

.contenedor-productos {
    display: grid;
    gap: 2rem;
    grid-auto-rows: auto;
    grid-template-columns: 200px auto;
    grid-template-areas: 
        "filtros productos";
}

@media (max-width: 768px) {
    .contenedor-productos {
        display: grid;
        gap: 2rem;
        grid-auto-rows: auto;
        grid-template-columns: auto;
        grid-template-areas: 
            "filtros"
            "productos";
    }
}

.filtros {
    grid-area: filtros;

    display: flex;
    flex-direction: column;
    margin: 60px 15px 0 15px;
    background-color: #fff;
}

.filtros p {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.btn-todos-productos {
    border: none;
    padding: 10px 0;
    background-color: #2a2a58;
    color: #fff;
}

.btn-filtros {
    border: none;
    padding: 10px 0;
    background-color: #fff;
}

.btn-filtros:hover {
    background-color: #2a2a58;
    color: #fff;
}

.productos {
    grid-area: productos;
}

.lista-productos {
    display: grid;
    gap: 2rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    width: 100%;
    justify-content: center;
    padding: 50px 50px;
}

.producto {
    margin: 0 auto;
    max-width: 20rem;
}

.titulo-producto {
    text-align: center;
    text-transform: uppercase;
}

.card-title {
    text-transform: uppercase;
}

/* Footer */

.footer {
    padding: 40px 0;
    background-color: #2a2a58;
}

.redes-sociales {
    text-align: center;
    padding-bottom: 40px;
}

.redes-sociales a {
    font-size: 25px;
    color: #fff;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.7;
}

.redes-sociales a:hover {
    opacity: 1;
}

.footer ul {
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    list-style: none;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer p {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    font-size: 17px;
    color: #fff;
    opacity: 0.5;
}

/* Formulario de Registro */

.contenedor-formulario h2{
    margin: 0 30px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(151, 32, 32);
    box-sizing: border-box;
    padding: 10px;
    text-transform: uppercase;
}

.formulario {
    width: 360px;
    height: 450px;
    background-color: rgb(23, 27, 49);
    border-radius: 8px;
    box-shadow: 0 0 10px -2px #000;
    margin: 20px auto;
    padding: 40px 40px;
}

.formulario h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    padding: 10px 0;
    font-size: 40px;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
}

.formulario input {
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border: 0;
    transition: all 0.3;
    border-bottom: 1px solid #fff; 
    background: none;
}

.formulario button {
    border: 0;
    display: flex;
    margin: 25px 0 0 auto;
    color: #fff;
    font-size: 15px;
    border: 1px solid #4747d1;
    background-color: #4747d1;
    border-radius: 10px;
    padding: 10px 30px;
}

/* Seccion Nosotros */

.titulo-nosotros {
    font-size: 60px;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.contenedor-nosotros-info {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, auto);

    grid-template-areas: "img1 texto1";

    margin: 60px 0;
}

.nosotros-img1 {
    grid-area: img1;
    padding-left: 10px;
}

.nosotros-img1 img {
    width: 100%;
}

.nosotros-texto1 {
    grid-area: texto1;

    font-size: 24px;
}

.nosotros-texto1 p {
    margin: 30px 50px;
}

.nosotros-texto1 hr {
    margin: 0 40px 0 20px;
}

@media screen and (max-width: 768px) {
    .titulo-nosotros {
        margin: 40px 20px 0 20px;
        font-size: 40px;
    }

    .contenedor-nosotros-info {
        display: grid;
        grid-template-areas: "img1"
                            "texto1";
    }

    .img-display {
        display: none;
    }

    .nosotros-texto1 p {
        margin: 30px 0 30px 50px;
    }

    .nosotros-texto1 hr {
        margin: 0;
        margin-left: 2rem;
    }

    .img-form {
        padding: 0 10%;
    }
}

.contenedor-nosotros-form {
    display: grid;
    gap: 2rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

.img-form {
    width: 100%;
}

.img-form .img-form1 {
    width: 100%;
    padding: 30px 10px 50px 30px;
    margin: 0;
}

/* Seccion Contacto */

.contactos {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    width: 100%;
    justify-content: center;
    margin: 50px 0;
}

.enlaces-contacto {
    text-align: center;
}

.enlaces-contacto i {
    font-size: 50px;
    color: #2a2a58;
    padding-bottom: 15px;
}

.enlaces-contacto i:hover {
    color: #4747d1;
}

.enlaces-contacto h2 {
    margin: 0;
}

.enlaces-contacto p {
    padding-top: 10px;
}

.contactos-2 {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
}

@media screen and (max-width: 768px) {
    .contactos-2 {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }

    .mapa iframe {
        display: none;
    }
}

.enlaces-contacto2 {
    text-align: center;
    margin-bottom: 40px;
}

.enlaces-contacto2 i {
    font-size: 50px;
    color: #2a2a58;
    padding-bottom: 15px;
}

.enlaces-contacto2 i:hover {
    color: #4747d1;
}

/* Carrito */

.seccion-carrito {
    width: 500px;
    background-color: red;
    border: 2px solid black;
    position: absolute;
    top: 12.7%;
    left: 62.9%;

    visibility: hidden;
}

.active {
    visibility: visible;
}

.btnAgregar {
    background-color: #4747d1;
    border-color: #7070db;
}

.btnAgregar:hover {
    background-color: #4747d1;
    border-color: #7070db!important;
}