@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */

.logo {
    width: 130px;
    height: 70px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 80px;
    background-color: #4747d1;
}

nav a {
    height: 70px;
}

.enlaces-menu {
    display: flex;
    padding: 0;
    margin: 0;
}

.enlaces-menu li {
    padding: 0 40px;
    list-style-type: none;
}

.enlaces-menu li a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 10px 25px;
}

.enlaces-menu li a:hover {
    background-color: #7070db;
}

.icono-carrito i {
    font-size: 32px;
    color: white;
    margin: 55%;
    align-self: center;
}

.ham {
    display: none;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.ham span {
    display: block;
    background-color: white;
    height: 3px;
    width: 34px;
    margin: 10px auto;
    border-radius: 2px;
}

/* Navbar para Movile */

@media (max-width: 768px) {
    .logo {
        margin-left: 30px;
    }

    .ham {
        display: block;
        position: absolute;
        top: 37px;
        right: 30px;
        transition: 0.2s 0.1s;
    }

    .ham:hover {
        transform: rotate(360deg);
    }

    nav {
        display: block;
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
    }

    .enlaces-menu {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 82vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
    }

    .enlaces-menu li {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .enlaces-menu li:hover {
        background-color: #7070db;
    }

    .icono-carrito {
        position: absolute;
        top: 30px;
        right: 50%;
    }

    .icono-carrito i {
        margin: 50%;
    }
}

@keyframes muestraMenu {
    from{opacity: 0;}
    to {opacity: 1;}

}

.enlaces-menu.activado {
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado {
    transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado {
    opacity: 0;
}

.br-3.animado {
    transform: rotate(45deg) translate(-10px, -8px);
}

/* Seccion Productos */

.contenedor-productos {
    display: grid;
    gap: 2rem;
    grid-auto-rows: auto;
    grid-template-columns: 200px auto;
    grid-template-areas: 
        "filtros productos";
}

.filtros {
    grid-area: filtros;

    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 30px;
}

.btn-filtros {
    border: none;
    padding: 10px 0;
    background-color: #fff;
}

.btn-filtros:hover {
    background-color: #2a2a58;
    color: #fff;
}

.productos {
    grid-area: productos;
}

.lista-productos {
    display: grid;
    gap: 2rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    width: 100%;
    justify-content: center;
    padding: 50px 50px;
}

.titulo-producto {
    text-align: center;
    text-transform: uppercase;
}

.card-title {
    text-transform: uppercase;
}

/* Footer */

.footer {
    padding: 40px 0;
    background-color: #2a2a58;
}

.redes-sociales {
    text-align: center;
    padding-bottom: 40px;
}

.redes-sociales a {
    font-size: 25px;
    color: #fff;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.7;
}

.redes-sociales a:hover {
    opacity: 1;
}

.footer ul {
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    list-style: none;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer p {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    font-size: 17px;
    color: #fff;
    opacity: 0.5;
}

/* Formulario de Registro */

.contenedor-formulario h2{
    margin: 0 40px;
    font-size: 40px;
    text-align: center;
}

.formulario {
    width: 360px;
    height: 450px;
    background-color: rgb(23, 27, 49);
    border-radius: 8px;
    box-shadow: 0 0 10px -2px #000;
    margin: 50px auto;
    padding: 40px 40px;
}

.formulario h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    padding: 10px 0;
    font-size: 40px;
    border-bottom: 1px solid #fff;
}

.formulario input {
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border: 0;
    transition: all 0.3;
    border-bottom: 1px solid #fff; 
    background: none;
}

.formulario button {
    border: 0;
    display: flex;
    margin: 25px 0 0 auto;
    color: #fff;
    font-size: 15px;
    border: 1px solid #4747d1;
    background-color: #4747d1;
    border-radius: 10px;
    padding: 10px 30px;
}

